<main>
    <section>
        <div class="presentation">
            <div class="name">Hi 👋, I am <br>Jonathan Assamagan</div>
            <small class="job-title">Software Engineer</small>
            <div class="buttons">
                <a class="btn" (click)="preventDefault($event)" data-toggle="modal" data-target="#resume-view"><img
                        src="assets/eye.svg" alt=""> Preview CV
                </a>
                <a class="btn cv" [href]="cv_file" download="software-cv-jonathan.pdf"><img
                        src="assets/paperclip.svg" alt="">
                    Download CV</a>
                <div id="resume-view" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <span class="modal-title heading2">My resume</span>
                            </div>
                            <div class="modal-body">
                                <embed [src]="cv_file | safe" frameborder="0" width="100%" height="600px">

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="assets/jonathan.jpg" alt="Jonathan Assamagan">
        </div>
    </section>
    <section id="about">
        <div class="about-me">
            <h1>About Me</h1>
            <p>
                I am a software engineer with a passion for building software applications that solve real-world
                problems.
                I have experience in building web applications using modern technologies such as Angular and React.
                I am also proficient in Java, Python, and go.
            </p>
            <p>
                I am a quick learner and I am always looking for new challenges to improve my skills.
                I am a team player and I enjoy working with other developers to build great software.
            </p>
        </div>
    </section>
</main>