main {
  position: relative;
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.about {
  margin: 30% 0;
}

.about-me {
  font-family: "Poppins";
  text-align: center;
  width: 80%;
}

.about-me p {
  font-size: 2.5rem;
  text-align: justify;
}

.presentation {
  width: 60rem;
}

.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 62px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 121, 9, 1) 35%,
    rgba(130, 2, 220, 1) 89%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.job-title {
  display: block;
  margin: 2rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 23px;
  color: rgba(2, 0, 36, 1);
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.btn {
  background: var(--dark-btn-background-color);
  border: 1px solid var(--dark-btn-background-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 30px;
  color: white;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.heading2 {
  font-weight: bold;
  font-size: clamp(2rem, -0.875rem + 5vw, 5rem);
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--light-text-color);
  margin: auto;
}

button {
  outline: none;
  border: none;
}

.btn.cv {
  background: var(--dark-green-color);
  color: var(--dark-text-color);
}

.profile {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
    position: relative;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgba(130, 2, 220, 1);
}

.open{
    position: absolute;
    border: none;
}