nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  width: 75%;
}

.logo img {
  width: 5rem;
  height: auto;
  border: 1px solid rgba(30, 121, 9, 1);
  border-radius: 50%;
}

.links {
  margin-left: 20vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--light-text-color);
}

.links a:active {
  color: var(--dark-green-color);
}

.active {
  display: none;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3rem;
}

.socials img {
  width: 30px;
  height: 30px;
  margin-left: 2rem;
}

.lang {
  margin: 0 40px;
}
.lang img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
