section {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 4rem; */
  margin-top: 15%;
}

h1 + p {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

/* TECH STACK */

.stack {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 0;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  gap: 6rem;
}

.stack .logo {
  width: 80px;
  height: 80px;
}

.stack h2 {
  color: var(--dark-green-color);
  text-align: center;
  margin-bottom: 2rem;
}

.stack .list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 20px;
  justify-content: space-evenly;
}

/*  PROJECTS*/

.projects {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  gap: 10rem;
}

.languages {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.languages span {
  box-sizing: border-box;
  padding: 0.5rem 0.8rem 0.4rem;
  border: 0.2rem solid var(--dark-green-color);
  border-radius: 0.4rem;
}

.p-card {
  width: 350px;
  height: 600px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.p-card .card-img {
  width: 100%;
  height: 260px;
  border-radius: 20px 20px 0 0;
}

.p-card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.p-card .card-content {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  height: 45rem;
}

.p-card .card-header {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000;
  text-align: center;
}

.p-card .card-content p {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
  margin: 1.5rem 0;
  text-align: justify;
}

.p-card .card-code {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.p-card .card-code img {
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}

.p-card .card-code a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: #000000;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  h1 + p {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 650px) {
  h1 + p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 520px) {
  h1 + p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .p-card {
    width: 100%;
  }
}
