section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-text-color);
  margin: 6rem 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  gap: 10rem;
}

.project {
  width: 30rem;
}

.project a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.project .repo-name {
  display: block;
  font-weight: bold;
  font-size: clamp(2.1rem, -0.875rem + 3vw, 2rem);
  line-height: 135%;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 1.6rem 0;
}

.languages {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.languages span {
  box-sizing: border-box;
  padding: 0.5rem 0.8rem 0.4rem;
  border: 0.2rem solid var(--dark-green-color);
  border-radius: 0.4rem;
}

.text-normal {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
  line-height: 2em;
  /* text-align: justify; */
}

.project img {
  border: #454545 solid 0.1rem;
  width: 200px;
  height: 70%;
  border-radius: 8%;
  position: relative;
  width: 100%;
  height: 20rem;
  transition: 0.5s;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.project img:hover {
  transform: scale(1.1);
}

.stack-container {
  width: 100%;
  background: #212121;
  border: 1px solid #333333;
}

.stack {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 0;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  gap: 6rem;
}

.stack .logo {
  width: 80px;
  height: 80px;
}

.stack h2 {
  color: var(--dark-green-color);
  text-align: center;
  margin-bottom: 2rem;
}

.stack .list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 20px;
  justify-content: space-evenly;
}
