<section id="projects">
    <h1 i18n>Realizations</h1>
    <div class="projects">

        @for (project of projects; track $index) {
        <div class="project">

            <a href="{{ project.url}}">

                <img src="{{ project.image }}" alt="">
                <div>
                    <span class="repo-name">
                        <b> {{ project.name}} </b>
                    </span>
                    <div class="languages">
                        @for (lang of project.stack; track $index) {

                        <span class="lang"> {{ lang }}</span>
                        }
                    </div>
                    <p class="text-normal">{{ project.description }} </p>
                </div>
            </a>
        </div>
        }
    </div>
</section>

<section>
    <h1 i18n>My tech stack</h1>
    <div class="stack-container">
        <div class="stack">
            <div class="">
                <h2>Frontend</h2>

                <div class="list">
                    <img src="assets/html.svg" alt="" class="logo">
                    <img src="assets/css.svg" alt="" class="logo">
                    <img src="assets/angular.svg" alt="" class="logo">
                    <img src="assets/react.svg" alt="" class="logo">
                </div>
            </div>
            <div class="">
                <h2>Backend</h2>

                <div class="list">
                    <img src="assets/java.svg" alt="" class="logo">
                    <img src="assets/golang.svg" alt="" class="logo">
                    <img src="assets/python.svg" alt="" class="logo">
                    <img src="assets/spring.svg" alt="" class="logo">
                </div>
            </div>
            <div class="">
                <h2>Databases</h2>

                <div class="list">
                    <img src="assets/firebase.svg" alt="" class="logo">
                    <img src="assets/mysql.svg" alt="" class="logo">
                    <img src="assets/mongodb.svg" alt="" class="logo">
                    <!-- <img src="assets/spring.svg" alt="" class="logo"> -->
                </div>
            </div>
            <div class="">
                <h2>Cloud & DevOps</h2>

                <div class="list">
                    <img src="assets/k8s.svg" alt="" class="logo">
                    <img src="assets/eks.svg" alt="" class="logo">
                    <!-- <img src="assets/python.svg" alt="" class="logo">
                    <img src="assets/spring.svg" alt="" class="logo"> -->
                </div>
            </div>
        </div>
    </div>
</section>