* {
  outline: none;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

hr {
  margin-top: 6rem;
  border-color: var(--dark-background-color);
}

.details {
  display: flex;
  gap: 8rem;
  justify-content: center;
  flex-direction: row;
}

.detail {
  width: auto;
  height: auto;
}

.detail img {
  width: 80px;
  height: 80px;
}

.detail a {
  text-decoration: none;
  color: var(--dark-green-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.detail p {
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 23px;
  color: var(--light-text-color);
}

.links a:active {
  color: var(--dark-green-color);
}

.thanks {
  text-align: center;
}

.thanks a {
  color: var(--dark-green-color);
  text-decoration: none;
}

.heart {
  color: #f00;
}

@media screen and (max-width: 1100px) {
  .links {
    display: none;
  }

  .thanks {
    font-size: 1.5rem;
  }

  footer {
    justify-self: center;
  }
}

@media screen and (max-width: 750px) {
  .details {
    gap: 2rem;
  }

  .detail img {
    width: 48px;
    height: 48px;
  }

  .detail p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 540px) {
  .details {
    flex-direction: column;
    gap: 4rem;
  }

  .detail img {
    width: 100px;
    height: 100px;
  }

  .detail p {
    font-size: 2rem;
  }
}
