<section id="contact">
    <h1 i18n>Get in touch</h1>
    <!-- <div class="form">
        <form action="" [formGroup]="contactFrom">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required formControlName="name">
                    <div class="underline"></div>
                    <label for="">Name</label>
                    <div *ngIf="isSubmitted && f['name'].errors">
                        <div *ngIf="f['name'].errors['required']" class="is-invalid">Name is required</div>
                    </div>
                </div>
                <div class="input-data">
                    <input type="email" required formControlName="email">
                    <div class="underline"></div>
                    <label for="">Email</label>
                    <div *ngIf="isSubmitted && f['email'].errors">
                        <div *ngIf="f['email'].errors['required']" class="is-invalid">Email is required</div>
                        <div *ngIf="f['email'].errors['email']" class="is-invalid">Email is invalid</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="18" cols="80" required formControlName="message"></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Write your message</label>
                    <div *ngIf="isSubmitted && f['message'].errors">
                        <div *ngIf="f['message'].errors['required']" class="is-invalid">Message is required</div>
                    </div>
                </div>
            </div>

            <div class="send"><button class="btn" (click)="submit()">Submit now</button></div>
        </form>
    </div> -->
    <section class="details">
        <div class="detail">
            <a href="https://github.com/kuro-jojo" target="_blank">
                <img src="assets/github.svg" alt="">
                <h3>kuro-jojo&#64;github</h3>
            </a>
        </div>
        <div class="detail">
            <a href="https://www.linkedin.com/in/jonathan-koumou/" target="_blank">
                <img src="assets/linkedin.svg" alt="">
                <h3>jonathan&#64;linkedin</h3>
            </a>
        </div>
        <div class="detail">
            <a href="mailto:kassamagan2@gmail.com">
                <img src="assets/gmail.svg" alt="">
                <h3>Mail me</h3>
            </a>
        </div>
    </section>
</section>

<hr>
<footer>
    <div class="links">
        <a href="#" routerLinkActive="active" i18n>Home</a>
        <a href="#about" routerLinkActive="active" i18n>About</a>
        <a href="#stacks" routerLinkActive="active" i18n>Tech Stack</a>
        <a href="#projects" routerLinkActive="active" i18n>Projects</a>
        <a href="#contact" routerLinkActive="active" i18n>Contact</a>
    </div>
    <div class="thanks" i18n>Made with <span class="heart">❤</span> by Jonathan Assamagan. Inspired by <a
            href="https://www.figma.com/&#64;pavanmg007" target="_blank">&#64;Pavan MG</a>
    </div>
</footer>