* {
  outline: none;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-text-color);
  margin: 2rem 0;
}

.form {
  /* Group 10 */
  /* border: 1px solid #e0e0e0; */
  width: 753px;
  height: auto;
}

.form .form-row {
  display: flex;
  margin: 32px 0 48px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 140px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
  background: var(--dark-background-color);
  color: var(--dark-text-color);
}

.input-data input:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:focus ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--dark-green-color);
}

.textarea textarea:focus ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-98px);
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: var(--dark-background-color);
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--dark-green-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.is-invalid {
  color: #f00;
  margin-top: 0.5rem;
}

.btn {
  display: block;
  background: var(--dark-green-color);
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--dark-text-color);
  font-style: normal;
  font-weight: 500;
  margin: auto;
  cursor: pointer;
}

.send {
  margin: 4rem auto;
  width: 100%;
}

.footer {
  margin: 4rem auto;
  text-align: center;
}

.footer a {
  color: var(--dark-green-color);
  text-decoration: none;
}

.heart {
  color: #f00;
}

.details {
  display: flex;
  gap: 8rem;
  justify-content: center;
  flex-direction: row;
}

.detail {
  width: auto;
  height: auto;
}

.detail img {
  width: 80px;
  height: 80px;
}

.detail a {
  text-decoration: none;
  color: var(--dark-green-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
