<section id="contact">
    <h1 i18n>Get in touch</h1>
    <section class="details">
        <div class="detail">
            <a href="https://github.com/kuro-jojo" target="_blank">
                <img src="assets/github.svg" alt="">
                <p>kuro-jojo&#64;github</p>
            </a>
        </div>
        <div class="detail">
            <a href="https://www.linkedin.com/in/jonathan-koumou/" target="_blank">
                <img src="assets/linkedin.svg" alt="">
                <p>jonathan&#64;linkedin</p>
            </a>
        </div>
        <div class="detail">
            <a href="mailto:kassamagan2@gmail.com">
                <img src="assets/gmail.svg" alt="">
                <p>Mail me</p>
            </a>
        </div>
    </section>
</section>

<hr>
<footer>
    <div class="links">
        <a href="#" routerLinkActive="active" i18n>Home</a>
        <a href="#about" routerLinkActive="active" i18n>About</a>
        <a href="#stacks" routerLinkActive="active" i18n>Tech Stack</a>
        <a href="#projects" routerLinkActive="active" i18n>Projects</a>
        <a href="#contact" routerLinkActive="active" i18n>Contact</a>
    </div>
    <div class="thanks" i18n>Made with <span class="heart">❤</span> by Jonathan Assamagan. Inspired by <a
            href="https://www.figma.com/&#64;pavanmg007" target="_blank">&#64;Pavan MG</a>
    </div>
</footer>