.content {
  margin: auto;
  padding: 0;
  width: 70%;
  height: 100vh;
  background-color: var(--dark-background-color);

  color: var(--dark-text-color);
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}
