.content {
  margin: auto;
  padding: 0;
  width: 85%;
  height: 100vh;
  background-color: var(--light-background-color);

  color: var(--light-text-color);
}

.arrow {
  position: fixed;
  bottom: 5%;
  right: 10%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.arrow.show {
  opacity: 1;
}

.arrow img {
  width: 48px;
}
