* {
  --dark-background-color: #171717;
  --light-background-color: #f5f5f5;

  --dark-text-color: #f5f5f5;
  --light-text-color: #171717;

  --dark-btn-background-color: #202020;
  --light-btn-background-color: #f5f5f5;
  --dark-green-color: #27ae60;
  --light-green-color: #27ae60;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: var(--dark-background-color);
}
