@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  --dark-background-color: #504e4e;
  --light-background-color: #f5f5f5;

  --dark-text-color: #f5f5f5;
  --light-text-color: #504e4e;

  --dark-btn-background-color: #202020;
  --light-btn-background-color: rgba(85, 201, 120, 0.24);

  --dark-green-color: #27ae60;
  --light-green-color: #27ae60;

  --light-header-color: #42446e;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background: var(--light-background-color);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1 {
  font-weight: 700;
  color: var(--light-header-color);
  margin: 4rem 0;
  font-size: 5rem;
}

p {
  font-family: "Poppins";
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 3rem;
  }
}
